<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mv="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/context
            http://www.springframework.org/schema/context/spring-context.xsd
            http://www.springframework.org/schema/mvc
            http://www.springframework.org/schema/mvc/spring-mvc.xsd">
    <!--    context:component-scan标签作用
            在spring ioc容器初始化过程中，自动创建并管理com.zy.springmvc及子包中
                拥有一下注解对象
                @Repository
                @Service
                @Controller
                @Component-->
    <context:component-scan base-package="com.zy.springmvc"></context:component-scan>
    <!--    启用spring MVC注解开发模式-->
    <mvc:annotation-driven/>
    <!--    将图片js css等静态资源排除在外，可提高执行效率-->
    <mvc:default-servlet-handler/>
</beans>